
<%- include("partials/header") -%>



<h1>Home</h1>
<p><%= startingContent %></p>

    <% posts.forEach(function(post){ %>
       <h1><%= post.title %></h1>
       <p>
        <%= post.body.substring(0,100) + " ..." %>
        <a href="/posts/<%= post._id %>">Read More</a>
        </p>
        
        <form action="/delete/<%= post._id %>" method="POST">
            <button type="submit" class="delete-btn">Delete</button>
          </form>
    <% }) %>
          
     


<%- include("partials/footer") -%>